:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --bg-primary-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --white-color: #ffffff;
  --white-color-transparent: rgba(255, 255, 255, 0.6);
  --input-footer-color: rgba(255, 255, 255, 0.3);
  --logo-color: #000000;
  --button-active-color: #188ce8;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --icons-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-close-color: rgba(0, 0, 0, 0.1);
  --bg-activities-color: rgba(47, 48, 58, 0.8);
  --bg-project-color: rgba(33, 150, 243, 0.9);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-shadow-secondary: rgba(0, 0, 0, 0.25);

  --input-modal-color: rgba(33, 33, 33, 0.2);
  --comment-color: rgba(117, 117, 117, 0.5);
}

body {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.title {
  color: var(--secondary-color);
}

/*-----HEADER-----*/
.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation__list,
.contacts {
  display: flex;
  gap: 50px;
}

.navigation__logo,
.navigation__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__logo:hover,
.navigation__logo:focus,
.navigation__link:hover,
.navigation__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.navigation__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-color);
}

.logo__web {
  color: var(--accent-color);
}

.navigation__link,
.navigation__link--current,
.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link {
  color: var(--secondary-color);
}

.navigation__link--current {
  color: var(--accent-color);
  display: flex;
  position: relative;
}

.navigation__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.contacts__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover,
.contacs__icon:focus {
  fill: var(--accent-color);
}

/*-----HERO-----*/

.hero,
.footer {
  background-color: var(--bg-primary-color);
}

.hero {
  text-align: center;
  color: var(--white-color);
  background-image: var(--gradient), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero__btn:active {
  background-color: var(--button-active-color);
}

/*-----FEATURES-----*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list,
.activities-list,
.team-list {
  display: flex;
  gap: 30px;
}

.features-list .item {
  max-width: 270px;
}
.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary-color);
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.features-desc {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*-----ACTIVITIES------*/

.activities {
  padding-bottom: 94px;
}

.activities-title,
.team-title,
.client-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}
.activities-item {
  position: relative;
}

.activities-label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--bg-activities-color);
  text-align: center;
}

/*-----TEAM-----*/

.team {
  background-color: var(--bg-secondary-color);
}

.card {
  display: inline-block;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.card-desc {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}
/*-----CLIENTS-----*/

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/*-----FOOTER-----*/
.footer {
  padding: 60px 0;
}

.footer__container {
  display: flex;
}
.footer__wrap {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  min-width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__list {
  display: inline-block;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail,
.address__tel {
  color: var(--white-color-transparent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover,
.footer__logo:focus,
.address__map:hover,
.address__map:focus,
.address__mail:hover,
.address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: var(--accent-color);
}

.footer__cta {
  display: block;
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--footer-icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--white-color);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.subscr {
  width: 570px;
  margin-left: 93px;
}

.subscr__form {
  display: flex;
  justify-content: center;
}
.subscr__cta {
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscr__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  border: 1px solid var(--input-footer-color);
  border-radius: 4px;
  background-color: var(--bg-primary-color);
  color: var(--white-color-transparent);
  cursor: pointer;
  outline: transparent;
}

.subscr__input::placeholder {
  color: var(--white-color-transparent);
}

.subscr__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.89;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px var(--btn-shadow);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  cursor: pointer;
}

.subscr__icon {
  margin-left: 10px;
  text-align: center;
}

/*-----MODAL-----*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-close-color);
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
}

.modal-btn:hover .icon-close {
  fill: var(--accent-color);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--primary-color);
  cursor: pointer;
}

.input-wrap {
  position: relative;
}

.modal-input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-modal-color);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-modal-color);
  border-radius: 4px;
  outline: transparent;
  resize: none;
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--comment-color);
}
.modal-field-last {
  margin-bottom: 30px;
}

.check-label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-label .check-box {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--logo-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px 0px var(--btn-shadow-secondary);
  fill: transparent;
  cursor: pointer;
}

.check-input:checked + .check-label .check-box {
  background-color: var(--accent-color);
  border: transparent;
  fill: #ffffff;
}

.terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.terms-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.89;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--button-active-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--btn-shadow-secondary);
  cursor: pointer;
  border: none;
}
/*-----PORTFOLIO-----*/

.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--bg-secondary-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/*-----PROJECT-----*/

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  width: calc((100% - 30px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project-item:hover .project-desc,
.project-item:focus .project-desc {
  transform: translateY(0);
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-desc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
  background-color: var(--bg-project-color);
}

.project-text {
  padding: 20px 24px;
  min-width: 322px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.project-title {
  margin-bottom: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
