.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-close-color);
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
  }

  &-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
  }

  &-field {
    margin-bottom: 10px;
  }

  &-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--primary-color);
    cursor: pointer;
  }

  &-input {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--input-modal-color);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
    }
  }
}

.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-modal-color);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--comment-color);
  }
}

.modal-field-last {
  margin-bottom: 30px;
}

.check-label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  & .check-box {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid var(--logo-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0px var(--btn-shadow-secondary);
    fill: transparent;
    cursor: pointer;
    .check-input:checked + & {
      background-color: var(--accent-color);
      border: transparent;
      fill: #ffffff;
    }
  }
}

.terms-link {
  color: var(--accent-color);
}

.send-btn {
  @extend %btn;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.89;
  letter-spacing: 0.06em;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-btn:hover & {
    fill: var(--accent-color);
  }
}
