:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --bg-primary-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --white-color: #ffffff;
  --white-color-transparent: rgba(255, 255, 255, 0.6);
  --input-footer-color: rgba(255, 255, 255, 0.3);
  --logo-color: #000000;
  --button-active-color: #188ce8;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --icons-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-close-color: rgba(0, 0, 0, 0.1);
  --bg-activities-color: rgba(47, 48, 58, 0.8);
  --bg-project-color: rgba(33, 150, 243, 0.9);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-shadow-secondary: rgba(0, 0, 0, 0.25);

  --input-modal-color: rgba(33, 33, 33, 0.2);
  --comment-color: rgba(117, 117, 117, 0.5);
}
